body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1, h2 {
    font-family: fantasy;
    color: rgb(83, 131, 163);
}
footer{
    margin-top: auto;
    background-color: bisque;
    color: rgb(85, 173, 85);
}

#pets{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.pet{
    background-color: rgb(223, 216, 193);
    border: 1px solid rgb(201, 171, 133);
    padding: 10px;
    border-radius: 3px;
    font-weight: 500;
}
.center-header{
    text-align: center;
}
ul {
 background-color: bisque;
}
.link-color { 
    color: rgb(85, 173, 85);
}
img {
    width: 300px;
    height: 300px;
    border-radius: 25% ;
}
img:hover { 
    border: solid 2px goldenrod;
}